@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #FFF688;
}

.wheel-gif {
  float: right;
  height: 1500px;
  position: inline-block;
  z-index: -1;
}

.instructor-sign-up {
  padding-left: 20px;
}

.rider-sign-up {
  padding-left: 20px;
}

.nav {
  color: white;
  background-color: black;
  overflow: hidden;
  padding: 20px;
}

.main-nav-link {
  color: white;
  text-align: left;
  text-decoration: none;
  height: 100px;
  padding: 14px 16px;
  margin: 20px;
  display: inline;
  vertical-align: middle;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
}

.main-nav-link:hover {
  background-color: white;
  color: black;
  padding: 15px;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
  border-radius: 10px;
  overflow: hidden;
}


.nav-link {
  color: black;
  font-size: 50px;
  text-align: left;
  text-decoration: none;
  height: 100px;
  padding: 15px;
  margin-top: 20px;
  display: block;
  vertical-align: middle;
}

.nav-link:hover {
  background-color: #e5e5e5;
  color: black;
  text-decoration: none;
}

.nav-link-profile {
  color: white;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  height: 100px;
  padding: 15px;
  display: inline;
  vertical-align: middle;
}

.nav-link-profile:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.nav-link-text{
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: 30px;
  padding-left: 20px;
}

.logo {
  float: left;
  font-size: 200px;
  margin-left: 100px;
  font-family:'Roboto', sans-serif;
  vertical-align: middle;
}

.logo-login {
  font-size: 200px;
  text-align: center;
  font-family:'Roboto', sans-serif;
}

.login-form {
  z-index: 5;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  padding: 40px;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);

}

.login-header {
  font-size: 80px;
  font-family:'Roboto', sans-serif;
}

.login-subheader {
  font-size: 30px;
  font-family:'Roboto', sans-serif;
}

.login-input {
  font-family:'Roboto', sans-serif;
  padding: 20px;
  width: 300px;
  margin: 10px;
  border-radius: 10em;
  border:1px solid #ccc;
  font-size: 20px;
	letter-spacing: .8px;
}

.login-btn {
  background-color: #55b1df;
  border:1px solid #fff;
  color:#fff;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-decoration: bold;
  cursor:pointer;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #fff;
  border:1px solid #55b1df;
  color:#55b1df;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-decoration: bold;
  cursor:pointer;
}


@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 15em;
}
.option-input:hover {
  background: #55b1df;
}
.option-input:checked {
  background: #55b1df;
  border-radius: 15em;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #55b1df;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 15em;

}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.login-label {
  font-size: 25px;
  font-family:'Roboto', sans-serif;
}

.radio {
  text-align: left;
  margin-left: 320px;
}

.invalid-text {
  color: red;
  font-size: 20px;
  font-family:'Roboto', sans-serif;
}

.input-file-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #ccc;
  color: gray;
  background-color: #ccc;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.login {
  float: right;
  position: inline-block;
  margin-right: 200px;
}

.home-logo {
  font-size: 200px;
  color: white;
  margin-top: 60px;
  padding-top: 150px;
  margin-left: 100px;
  font-family:'Roboto', sans-serif;
  vertical-align: middle;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: white;
}

.home-logo-small {
  font-size: 100px;
  margin-left: 100px;
  color: white;
  font-family:'Roboto', sans-serif;
  vertical-align: middle;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.wheel-gif-home {
  float: right;
  margin-top: 200px;
  height: 1500px;
  position: inline-block;
  z-index: -1;
}

.collapsed-nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}

.home {
  background: url('../src/images/spin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.hamburger {
  margin: 25px;
  width: 50%;
  border-radius: 5px;
}

.unclicked {
  width: 50%;
}

.exposed-nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  position: sticky;
}

.exposed-hamburger {
  padding: 15px;
  position: sticky;
  height: 1000px;
  width: 200px;
  background-color: white;
  z-index: 10000;
  position: inline;
  position:fixed;
  width: 20%;
  height: 100%;
  top:50.75%;
  left:10.45%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
}

.ham-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}

#map {
  width: 47.2%;
  float: right;
  height: 100%;
  margin: 30px;
}

.pin {
  width: 40px;
  color: red;
}

.search-box {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 46%;
  height: 1500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: white;
  overflow: scroll;
  z-index: -20;
}

.search-header {
  font-family:'Roboto', sans-serif;
  text-align: center;
  font-size: 120px;
  display: inline;
  margin-left: 37%;
}

.search-result-card {
  font-family:'Roboto', sans-serif;
  background-color: rgb(0, 0, 0, 0.15);
  box-shadow: 0 7px 30px rgba(62, 9, 11, .1);
  color: black;
  margin: 30px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* .search-result-card:hover {
  font-family:'Roboto', sans-serif;
  background-color: rgb(0, 0, 0, 0.3);
  color: black;
  margin: 30px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.search-result-header {
  font-size: 30px;
}

.search-result-text {
  font-size: 23px;
}


#search-result-for {
  font-family:'Roboto', sans-serif;
  margin-left: 20px;
  font-size: 30px;
  color: #55b1df;
  margin-bottom: 20px;
}

.search-bar {
  background-color: white;
  background-image: url('../src/images/search.png');
  background-position: 10px 10px;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  height: 30px;
  width: 40%;
  margin-top: 30px;
  border-radius: 10em;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 0;
  font-family:'Roboto', sans-serif;
  border:1px solid #ccc;
  font-size: 20px;
  letter-spacing: .8px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-bar:focus {
  width: 60%;
  font-family:'Roboto', sans-serif;
  border:1px solid #ccc;
  font-size: 20px;
  letter-spacing: .8px;
  border-radius: 10em;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.search-bar-div {
  top: 0;
  margin-top: 0px;
  background-color: white;
  padding: 10px;
  padding-bottom: 10px;
  z-index: 0;
}

.search-container {
  z-index: 0
}

.search-label {
  font-family:'Roboto', sans-serif;
  font-size: 70px;
  text-align: center;
  z-index: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.sort {
  float: right;
  text-align: center;
}

.favorite-button {
  height: 50px;
  width: 50px;
  border-radius: 3em;
}

.favorite-button-heart {
  height: 5%;
  width: 5%;
  float: right;
  margin-right: 30px;
  display: inline;
}

.profile-information {
  width: 20%;
  float: left;
  height: 1000px;
  background-color: white;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
}

.profile-picture {
  margin-left: 20px;
  margin-right: auto;
  margin-top: 40px;
  width: 90%;
  height: 20%;
}

.profile-details-text {
  margin-left: 20px;
}

.reserve-image {
  width: 650px;
  border-radius: 15px;
  border: 1px solid black;
}

.profile-details-container {
  width: 75%;
  float: right;
  height: 1000px;
  background-color: white;
  margin-right: 30px;
  overflow: scroll;
  margin-top: 20px;
}

.schedule-container {
  width: 2900px;
  height: 1400px;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 60px;
  border-radius: 5px;
}

.calendar-day {
  width: 250px;
  height: 240px;
  background-color: black;
  color: white;
  float: left;
  border: 1px solid white;
}

#clear-filter {
  margin-top: 20px;
  text-align: center;
  color: #55b1df;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 50px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.logged-in-header {
  float: right;
  text-align: right;
  margin-right: 3%;
  margin-top: 0px;
  display: inline;
}

.calendar {
border-radius: 5px;
float: right;
width: 85%;
}

.booking-map {
  text-align: center;
}

.booking-map-instructor {
  border: 2px solid black;
  border-radius: 15em;
  height: 200px;
}

.edit-bike {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
  background-color: pink;
}

.reserved-bike {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
  background-color: grey;
}

.bike {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
}

.bike:hover {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
  background-color: black;
  color: white;
}

.my-reservations {
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.my-reservations:hover {
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  background-color: #efefef;
}


.studio-show-header {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding: 5px;
  width: 90%;
  padding-bottom: 15px;
}

.locations-card {
  font-family:'Roboto', sans-serif;
  font-size: 22px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 25px;
  height: 220px;
  margin: 25px;
  z-index: 1;
  background-color: #e5e5e5;
  letter-spacing: .8px;
}

.locations-div {
  font-family:'Roboto', sans-serif;
  width: 30%;
  height: 600px;
  float: left;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-left: 5%;
  display: inline-block;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);

}

.reviews-div {
  width: 58%;
  height: 600px;
  font-family:'Roboto', sans-serif;
  display: inline-block;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 70px;
  margin-bottom: 30px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.studio-logo {
  height: 150px;
  margin-left: 20px;
  margin-top: 28px;
  margin-bottom: 40px;
  float: left;
  border-radius: 15px;
}
.studio-head {
  float: left;
  font-size: 80px;
  margin-left: 30px;
}

.header {
  font-family:'Roboto', sans-serif;
  top: 0;
  background-color: #686868;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: .8px;

  /* border: 1px solid #55b1df; */
}

.header-show {
  font-family:'Roboto', sans-serif;
  top: 0;
  background-color: #686868;
  color: white;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: 1px solid #55b1df; */
  margin-left: 4.5%;
  margin-right: auto;
  width: 89.8%;
  display: block;
  float: left;
  letter-spacing: .8px;
  border-radius: 5px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

}

.review-input {
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  margin: 10px;
  z-index: 0;
}

.review-input:focus {
  width: 60%;
  font-family:'Roboto', sans-serif;
  border:1px solid #ccc;
  font-size: 20px;
  letter-spacing: .8px;
  border-radius: 10px;
  z-index: 0;
}

.post-review-btn {
  font-family:'Roboto', sans-serif;
  border: 1px solid white;
  font-size: 30px;
  border-radius: 10px;
  background-color: #55b1df;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  margin-left: 45%;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.post-review-btn:hover {
  font-family:'Roboto', sans-serif;
  border: 1px solid white;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid #55b1df;
  background-color: white;
  color: #55b1df;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  margin-left: 45%;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.form {
  font-family:'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 0px;
  background-color: #ccc;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .2);
  border-radius: 10px;
}

.form-header {
  color: black;
  background-color:rgb(255,255,255,0.3);
  border-bottom: 3px solid white;
  font-family:'Roboto', sans-serif;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: .8px;
  border-radius: 10px;
}

.form-content {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  font-size: 30px;
  font-weight: bold;
  background-color:rgb(255,255,255,0.8);
  padding: 40px;
}

.no-reviews {
  text-align: center;
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  font-size: 40px;
  margin-top: 120px;
}

.review-input{
  border:1px solid #ccc;
  font-size: 20px;
  letter-spacing: .8px;
  width: 400px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.review-form-label {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 35px;
    font-weight: bold;
    width: 400px;
    border-bottom: 3px solid black;
}

.review-card {
  font-family:'Roboto', sans-serif;
  font-size: 21px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 25px;
  height: 260px;
  margin: 25px;
  background-color: #e5e5e5;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .2);
  letter-spacing: .8px;
}

.instructors-div {
  width: 91%;
  display: inline-block;
  height: 450px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.instructor-pic {
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: white;
  height: 280px;
  width: 330px;
  margin: 20px;
}

.instructor-card {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  float: left;
  display: inline-block;
}

.instructor-card:hover {
  background-color: #55b1df;
  color: black;
  text-align: center;
  float: left;
}

.favorite {
  float: right;
  background-color: #676767;
  border: 2px solid #686868;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 40px;
  padding: 10px;
  position: inline-block;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .2);
}

.favorite:hover {
  background-color: #FF8E8E;
  border: 2px solid white;
  color: white;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .2);
}

.favorited {
  float: right;
  background-color: #FF8E8E;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 40px;
  padding: 10px;
  position: inline-block;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .2);
}

.heart {
  margin-top: 21px;
  margin-right: 5px;
}

.star {
  height: 50px;
  margin-top: 18px;
  margin-right: 5px;
}

.wheel {
  height: 70px;
  margin-left: 10px;
  margin-top: 5px;
}

.favorite-text {
  margin: 5px;
  float: right;
  position: inline;
}

.favorites-cards {
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  height: 20%;
}

.favorites-cards:hover {
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
}

.favorites-h1 {
  margin: 20px;
}

.remove-fav {
  float: right;
  height: 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.remove {
  float: right;
  height: 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.remove-fav:hover {
  background-color: black;
  border-radius: 3em;
  padding: 5px;
  float: right;
  height: 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.filter {
  float: left;
  height: 1250px;
  width: 400px;
  background-color: #efefef;
  border-radius: 5px;
  border:1px solid #ccc;
  z-index: 5;
  position: inline;
}

.studios-header {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  font-size: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}
.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
}

.modal-main2 {
  position:fixed;
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 500px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 20px;
}

.go-back {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
}

.go-back:hover {
  background-color: black;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.clear-filter {
  border: 2px solid white;
  margin-top: 300px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  color: white;
  background-color: #55b1df;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.clear-filter:hover {
  border: 2px solid #55b1df;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  color: #55b1df;
  background-color: white;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

.filter-header {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  background-color: #55b1df;
  color: white;
  width: 370px;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.studio-filter {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.inputs-ptag {
  font-size: 20px;
}

.stars {
  z-index: 0;
  position: relative;
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

.favorite-text-search {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  position: inline;
  font-size: 25px;
  font-weight: bold;
}

.favorite-search {
  float: right;
  color: white;
  background-color: #55b1df;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 5px;
  display: inline;
}

.favorite-search:hover {
  background-color: white;
  color: #55b1df;
  border: 1px solid #55b1df;
}

.more {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5em;
  padding: 5px;
}

.more:hover {
  opacity: 1;
  visibility: visible;
  float: right;
  font-size: 20px;
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  background-color: white;
  color: #55b1df;
  border-radius: 5em;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.icon {
  float: left;
  margin: 10px;
  border-radius: 5px;
  height: 80px;
  padding-right: 25px;
}

.instructor-profile {
  width: 30%;
  height: 600px;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-left: 5%;
  display: inline;
}

.instructor-pic2 {
  border: 2px solid #ccc;
  border-radius: 15px;
  height: 300px;
  width: 300px;
  float: left;
  display: inline-block;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.instructor-pic-span {
  float: left;
  height: 260px;
  width: 200px;
  margin-left: 40px;
  margin-top: 6%;
  margin-right: 150px;
  margin-bottom: 200px;
  display: inline;
}

.instructor-info {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  margin-top: 5%;
  padding-left: 100px;
  font-size: 28px;
  /* display: inline; */
}

.strong {
  color: #55b1df;
  font-size: 35px;
  font-weight: bold;
  width: 500px;
  border-bottom: 3px solid #55b1df;
}

.instructor-calendar {
  font-family:'Roboto', sans-serif;
  letter-spacing: .8px;
  width: 88%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

.instructor-calendar-div {
  background-color: white;
  margin-left: 5%;
  width: 90.25%;
  border-radius: 10px;
  border: 2px solid black;
  float: left;
}

.change-bike {
  float: right;
  height: 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.change-bike:hover {
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
  float: right;
  height: 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.modal-header {
  text-align: center;
  margin-left: 50px;
  font-size: 50px;
}

.link {
  text-decoration: none;
  color: #4e1b82;
}

.link:hover {
  text-decoration: none;
  color: red;
  border-radius: 15px;
}

.profile-studio-logo {
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.profile-instructor-logo {
  height: 150px;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
}


.profile-card-text {
  margin-left: 220px;
}

.class-cards {
  float: left;
  background-color: white;
  margin: 30px;
  text-align: center;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  height: 500px;
  overflow: s
}

.class-cards-header {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
}

.class-cards-container {
  width: 90%;
  background-color: black;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.my-reserved-bike {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
  background-color: pink;
}

/*
.rbc-events-container {
  display: grid;
  grid-template-rows: repeat(26, 40px);
}

.rbc-day-slot .rbc-event {
  position: static;
}

.rbc-day-slot .rbc-event--global {
  background-color: pink;
}

.rbc-day-slot .rbc-event--regional {
  background-color: pink;
} */
