@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #FFF688;
}


.wheel-gif {
  float: right;
  height: 900px;
  position: inline-block;
  z-index: -1;
}

.instructor-sign-up {
  padding-left: 20px;
}

.rider-sign-up {
  padding-left: 20px;
}

.nav {
  color: white;
  padding: 20px;
  background-color: black;
}

.nav-link {
  margin: 10px;
  color: white;
  text-decoration: none;
  height: 100px;
}

.nav-link:hover {
  background-color: white;
  color: black;
  height: 300px;
  text-decoration: none;
}

.logo {
  font-size: 150px;
  margin-left: 40px;
  font-family:'Roboto', sans-serif;
  vertical-align: middle;
}

.login {
  float: right;
  position: inline-block;
  margin-right: 200px;
}

.collapsed-nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}

.hamburger {
  margin: 15px;
}

.exposed-nav {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 5px;
}

.exposed-hamburger {
  padding: 15px;
  height: 1000px;
  width: 200px;
  background-color: black;
  z-index: 5;
  position: inline;
}

#map {
  width: 47.2%;
  float: right;
  height: 100%;
  background-color: grey;
  margin: 30px;
  border: 10px solid white;
}

.pin {
  width: 40px;
  color: red;
}

.search-box {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 46%;
  height: 920px;
  padding: 10px;
  background-color: white;
  overflow: scroll;
}

.search-header {
  text-align: center;
  font-size: 70px;
}

.search-result-card {
  background-color: rgb(0, 0, 0, 0.2);
  color: black;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}
.search-bar {
  height: 30px;
  width: 60%;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 20px;
}

.search-bar-div {
  top: 0;
  position: sticky;
  margin-top: 0px;
  background-color: white;
  padding: 10px;
}

.search-label {
  text-align: center;
}

.sort {
  float: right;
  text-align: center;
}

.favorite-button {
  height: 50px;
  width: 50px;
  border-radius: 3em;
}

.favorite-button-heart {
  height: 5%;
  width: 5%;
  float: right;
  margin-right: 30px;
  display: inline;
}

.profile-information {
  width: 20%;
  float: left;
  height: 1000px;
  background-color: white;
  margin-left: 30px;
  border-radius: 5px;
}

.profile-picture {
  margin-left: 70px;
  margin-top: 40px;
  height: 300px;
}

.profile-details-container {
  width: 75%;
  float: right;
  height: 1000px;
  background-color: white;
  margin-right: 30px;
}

.schedule-container {
  width: 1764px;
  height: 2000px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
}

.calendar-day {
  width: 250px;
  height: 240px;
  background-color: black;
  color: white;
  float: left;
  border: 1px solid white;
}

#clear-filter {
  margin-top: 20px;
  text-align: center;
  color: blue;
}
.logged-in-header {
  float: right;
  margin-right: 30px;
}

.calendar {
border-radius: 5px;
}

.booking-map {
  text-align: center;
}

.booking-map-instructor {
  border: 2px solid black;
  border-radius: 15em;
  height: 200px;
}

.bike {
  border: 2px solid black;
  border-radius: 15em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 20px;
}
.my-reservations {
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.studio-show-header {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 40px;
  height: 200px;
  padding: 5px;
}

.locations-card {
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  height: 170px;
  margin: 25px;
}

.locations-div {
  width: 50%;
  height: 400px;
  float: left;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-left: 40px;
}

.reviews-div {
  width: 45%;
  float: right;
  display: inline-block;
  height: 400px;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-right: 40px;
}

.studio-logo {
  height: 150px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.studio-head {
  float: left;
  font-size: 80px;
  margin-left: 30px;
}
.header {
  top: 0;
  position: sticky;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

.review-input {
  bottom: 0;
  position: sticky;
  width: 500px;
  border-radius: 5px;
  margin: 10px;
}

.post-review-btn {
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 450px;
}

.review-card {
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  height: 200px;
  margin: 25px;
}

.instructors-div {
  width: 96.5%;
  display: inline-block;
  height: 400px;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 40px;
}

.instructor-pic {
  border: 2px solid black;
  border-radius: 15em;
  height: 200px;
  margin: 40px;
}

.instructor-card {
  margin: 20px;
  text-align: center;
  float: left;
}
